%text-style-block-cct {
  color: #5c4348;
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
}
%text-style-ccy {
  color: #392d30;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
}
.main_container {
  max-width: 900px;
  max-height: fit-content;
  margin: 10px auto;
  padding: 5px 5px;

  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background: #f3e9e9;
  background-image: url(../icon/ukraine-flag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.36);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.36);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container_rate {
  max-width: 900px;
  margin: 20px 10px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background: #f5dcdc;
  background-image: url(../icon/yellow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.36);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.36);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.container_rate_ccy {
  width: 230px;
  box-shadow: inset 0px 0px 19px -3px #eaf10c;
  background: linear-gradient(to bottom, #f9faff 0%, #b3bfaa 123%);

  border-radius: 5px;
  border: 1px solid #b2b8ad;
  margin: 5px;
  padding: 0px 5px;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.style_rate_ccy {
  margin: 15px auto;
  text-align: center;
  @extend%text-style-ccy;
}
.style_rate {
  margin: 5px auto;
  text-align: center;
  @extend%text-style-block-cct;
}

.container_exchange {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  text-align: center;
  @extend%text-style-ccy;
  //   &::before {
  //     content: '';
  //     background-image: url(../icon/orig_mark.jpg);
  //     background-repeat: no-repeat;
  //     background-size: 50px;
  //     position: absolute;
  //     left: 420px;
  //     top: 200px;
  //     width: 50px;
  //     height: 30px;
  //   }
}

.select {
  max-width: 70px;
  height: 45px;
  margin: 10px 10px;
  text-align: center;
  -webkit-box-shadow: inset 0px 0px 3px 0px #000000;
  box-shadow: inset 0px 0px 3px 0px #000000;
  background: linear-gradient(to bottom, #fefffd 0%, #b3bfaa 123%);
  background-color: #f8f8f8;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #b2b8ad;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @extend%text-style-block-cct;
}
.container_input {
  max-width: 320px;
  height: 45px;
  margin: 10px 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background: #fbfbfb;
  -webkit-box-shadow: inset 0px 0px 3px 0px #000000;
  box-shadow: inset 0px 0px 3px 0px #000000;
  box-sizing: border-box;
  @extend%text-style-ccy;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
  &:active {
    border: none;
  }
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px, red;
}
